<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Trombinoscope</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <div class="container">

    <div class="row my-4 justify-content-center">
      <h1>Trombinoscope</h1>
    </div>

    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs justify-content-center text-center">
          <li class="nav-item">
            <a class="nav-link active" href="/">Ressources Humaines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Développement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Finances</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">

      <div class="card mt-3 col-lg-3 col-md-4 col-sm-6 offset-sm-0 offset-1 col-10" style="width: 18rem;">
        <img class="card-img-top mt-3" src="images/m2.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Charles Martin</h5>
          <p class="card-text">Arrivé le 11/06/2012</p>
        </div>
      </div>

      <div class="card mt-3 col-lg-3 col-md-4 col-sm-6 offset-sm-0 offset-1 col-10" style="width: 18rem;">
        <img class="card-img-top mt-3" src="images/f2.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Emilie Gauthier</h5>
          <p class="card-text">Arrivée le 01/04/2013</p>
        </div>
      </div>

      <div class="card mt-3 col-lg-3 col-md-4 col-sm-6 offset-sm-0 offset-1 col-10" style="width: 18rem;">
        <img class="card-img-top mt-3" src="images/m1.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Rafael Deschamps</h5>
          <p class="card-text">Arrivé le 05/01/2015</p>
        </div>
      </div>

      <div class="card mt-3 col-lg-3 col-md-4 col-sm-6 offset-sm-0 offset-1 col-10" style="width: 18rem;">
        <img class="card-img-top mt-3" src="images/m1.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Edouard Lemoine</h5>
          <p class="card-text">Arrivé le 04/05/2015</p>
        </div>
      </div>

    </div>

  </div>

</body>

</html>
